---
import Layout from "../layouts/Layout.astro";
import menu1 from "../assets/menu/GokiMenu_1.1.jpg";
import menu2 from "../assets/menu/GokiMenu_2.1.jpg";
---

<Layout>
  <div class="p-12 flex flex-col justify-center items-center">
    <h1 class="mb-12 text-2xl text-white">Menu</h1>
    <img class="mb-12" src={menu1.src} alt="Goki Menu page 1" />
    <img src={menu2.src} alt="Goki Menu page 2" />
  </div>
</Layout>
