---
import logo from "../assets/goki-logo.png";
---

<div
  class="flex flex-col-reverse md:flex-row items-center p-8 gap-4 px-16 relative"
>
  <p class="text-white text-xl md:text-xl md:absolute md:left-16">
    Asian Food Corner
  </p>
  <div class="flex-1 flex justify-center w-full">
    <a href="/"
      ><img class="w-48 md:max-w-64" src={logo.src} alt="Goki Logo" /></a
    >
  </div>
  <p
    class="hidden md:block text-white text-xl md:text-xl md:absolute md:right-16"
  >
    Pho Your Soul
  </p>
</div>
