---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Primary Meta Tags -->
    <meta name="generator" content={Astro.generator} />

    <title>Goki — Asian Food Corner — Pho Your Soul</title>
    <meta name="title" content="Goki — Asian Food Corner — Pho Your Soul" />
    <meta
      name="description"
      content="Monday-Friday 11:00-14:00 // 17:00-22:00. Dine-In & Take-Away For Meat, Vegan & Veggie Lovers"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://metatags.io/" />
    <meta
      property="og:title"
      content="Goki — Asian Food Corner — Pho Your Soul"
    />
    <meta
      property="og:description"
      content="Monday-Friday 11:00-14:00 // 17:00-22:00.
Dine-In & Take-Away For Meat, Vegan & Veggie Lovers"
    />
    <meta property="og:image" content="/images/goki-logo-og.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://metatags.io/" />
    <meta
      property="twitter:title"
      content="Goki — Asian Food Corner — Pho Your Soul"
    />
    <meta
      property="twitter:description"
      content="Monday-Friday 11:00-14:00 // 17:00-22:00. Dine-In & Take-Away For Meat, Vegan & Veggie Lovers"
    />
    <meta property="twitter:image" content="/images/goki-logo-og.png" />

    <!-- Meta Tags Generated with https://metatags.io -->
  </head>
  <body class="bg-black min-h-screen flex flex-col font-montserrat">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
